@model IEnumerable<MyShop.Web.Models.PostCategoryViewModel>

<ul>
    @foreach (var cate in Model)
    {
        var url = "/blogs/" + cate.Alias + ".html";
        <li><a href="@url">@cate.Name</a></li>
    }
</ul>
