  <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Thêm mới gót giầy
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="products">Sản phẩm</a></li>
        <li><a ui-sref="heels">Gót giầy</a></li>
        <li class="active">Thêm mới</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Thêm mới</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmAddHeel" role="form" ng-submit="AddHeel()">
            <div class="box-body">
                <div class="form-group" ng-class="{ 'has-error' : frmAddHeel.name.$invalid && !frmAddHeel.name.$pristine }">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tiêu đề</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-maxlength="256" required name="name" ng-model="heel.Name">
                        <span ng-show="frmAddHeel.name.$invalid" class="has-error">Phải nhập tiêu đề</span>
                        <span ng-show="frmAddHeel.name.$error.maxlength" class="has-error">Tiêu đề chỉ được 256 ký tự</span>
                    </div>
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <button ui-sref="heels" class="btn btn-default">Hủy</button>
                <button type="submit" ng-disabled="frmAddHeel.$invalid" class="btn btn-success pull-right">Lưu</button>
            </div><!-- /.box-footer -->
        </form>
    </div><!-- /.box -->
</section><!-- /.content -->