  <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Cập nhật hóa đơn
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a ui-sref="orders">Hóa đơn</a></li>
        <li class="active">Cập nhật</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title"> Cập nhật hóa đơn {{order.CustomerName}}</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmUpdateOrder" role="form" ng-submit="UpdateOrder()">
            <div class="box-body">
                <div class="form-group" ng-class="{ 'has-error' : frmUpdateOrder.name.$invalid && !frmUpdateOrder.name.$pristine }">
                    <label for="inputEmail3" class="col-sm-2 control-label">Họ tên</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-maxlength="256" required name="customerName" ng-model="order.CustomerName">
                        <span ng-show="frmUpdateOrder.customerName.$invalid" class="has-error">Phải nhập tên</span>
                        <span ng-show="frmUpdateOrder.customerName.$error.maxlength" class="has-error">Tên chỉ được 256 ký tự</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : frmUpdateOrder.email.$invalid && !frmUpdateOrder.email.$pristine }">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" required name="email" ng-model="order.CustomerEmail">
                        <span ng-show="frmUpdateOrder.email.$invalid" class="has-error">Phải nhập email</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : frmUpdateOrder.customerAddress.$invalid && !frmUpdateOrder.customerAddress.$pristine }">
                    <label for="inputEmail3" class="col-sm-2 control-label">Địa chỉ</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-maxlength="256" required name="customerAddress" ng-model="order.CustomerAddress">
                        <span ng-show="frmUpdateOrder.customerAddress.$invalid" class="has-error">Phải nhập địa chỉ</span>
                        <span ng-show="frmUpdateOrder.customerAddress.$error.maxlength" class="has-error">Tên danh mục chỉ được 256 ký tự</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : frmUpdateOrder.customerMobile.$invalid && !frmUpdateOrder.customerMobile.$pristine }">
                    <label for="inputEmail3" class="col-sm-2 control-label">Điện thoại</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-maxlength="256" required name="customerMobile" ng-model="order.CustomerMobile">
                        <span ng-show="frmUpdateOrder.customerMobile.$invalid" class="has-error">Phải nhập điện thoại</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Lời nhắn</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="customerMessage" ng-model="order.CustomerMessage"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Hình thức thanh toán</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="paymentMethod" ng-model="order.PaymentMethod">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Trạng thái giao hàng</label>
                    <div class="col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="paymentstatus" ng-model="order.PaymentStatus" ng-checked="order.PaymentStatus"> Kích hoạt
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Trạng thái</label>
                    <div class="col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="status" ng-model="order.Status" ng-checked="order.Status"> Kích hoạt
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <th>Số hóa đơn</th>
                            <th>Mã sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Đơn giá</th>
                            <th>Ghi chú</th>
                        </tr>
                        <tr ng-repeat="item in orderDetails">
                            <td>{{item.OrderID}}</td>
                            <td>{{item.ProductID}}</td>
                            <td>
                                {{item.Quantity}}
                            </td>
                            <td>
                                {{item.Price | number}}
                            </td>
                            <td>
                                {{item.Note}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <button ui-sref="orders" class="btn btn-default">Hủy</button>
                <button type="submit" ng-disabled="frmUpdateOrder.$invalid" class="btn btn-success pull-right">Lưu</button>
            </div><!-- /.box-footer -->
        </form>
    </div><!-- /.box -->
</section><!-- /.content -->
