<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <link rel="shortcut icon" href="/Assets/client/hstatic.net/198/1000055198/1000144003/favicona6f6.png?v=313" type="image/png" />
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>
        The Shoes
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=0' name='viewport' />
    <link rel="canonical" href="index.html" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="The Shoes" />
    <meta property="og:image" content="/Assets/client/hstatic.net/198/1000055198/1000144003/logoa6f6.png?v=313" />
    <meta property="og:image" content="/Assets/client/hstatic.net/198/1000055198/1000144003/logoa6f6.png?v=313" />
    <meta property="og:url" content="index.html" />
    <meta property="og:site_name" content="The Shoes" />
    <link rel="stylesheet" type="text/css" href="/Assets/client/hstatic.net/0/global/design/member/fonts/opensans.css">
    <!-- Haravan plugins BEGIN -->
    <script src='/Assets/client/hstatic.net/0/0/global/design/plugins/jquery/jquery-2.1.4.min.js' type='text/javascript'></script>
    <script src='/Assets/client/hstatic.net/0/0/global/option_selection.js' type='text/javascript'></script>
    <script src='/Assets/client/hstatic.net/0/0/global/api.jquery.js' type='text/javascript'></script>
    <!-- Haravan plugins END -->
    <!-- shop-asset -->
    <!-- Fonts START -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Lato+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css"><!--- fonts for slider on the index page -->
    <!-- Fonts END -->
    <link href='/Assets/client/hstatic.net/198/1000055198/1000144003/bootstrapa6f6.css?v=313' rel='stylesheet' type='text/css' media='all' />
    <link href='/Assets/client/hstatic.net/198/1000055198/1000144003/stylea6f6.css?v=313' rel='stylesheet' type='text/css' media='all' />
    <link href='/Assets/client/hstatic.net/198/1000055198/1000144003/darka6f6.css?v=313' rel='stylesheet' type='text/css' media='all' />
    <link href='/Assets/client/hstatic.net/198/1000055198/1000144003/font-iconsa6f6.css?v=313' rel='stylesheet' type='text/css' media='all' />
    <link href='/Assets/client/hstatic.net/198/1000055198/1000144003/animatea6f6.css?v=313' rel='stylesheet' type='text/css' media='all' />
    <link href='/Assets/client/hstatic.net/198/1000055198/1000144003/magnific-popupa6f6.css?v=313' rel='stylesheet' type='text/css' media='all' />
    <link href='/Assets/client/hstatic.net/198/1000055198/1000144003/font_defaulta6f6.css?v=313' rel='stylesheet' type='text/css' media='all' />
    <link href='/Assets/client/hstatic.net/0/0/global/design/plugins/font-awesome/4.5.0/css/font-awesome.min.css' rel='stylesheet' type='text/css' media='all' />
    <link href='/Assets/client/hstatic.net/198/1000055198/1000144003/responsivea6f6.css?v=313' rel='stylesheet' type='text/css' media='all' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <script src='/Assets/client/hstatic.net/198/1000055198/1000144003/pluginsa6f6.js?v=313' type='text/javascript'></script>
    <!-- custom style -->
    
    <link href='/Assets/client/hstatic.net/198/1000055198/1000144003/custom_stylea6f6.css?v=313' rel='stylesheet' type='text/css' media='all' />
     
     <!-- External JavaScripts
    ============================================= -->
    <!-- OWL CAROUSEL -->
    <!--<link href='//hstatic.net/198/1000055198/1000144003/owl.carousel.css?v=313' rel='stylesheet' type='text/css'  media='all'  />
    <script src='//hstatic.net/198/1000055198/1000144003/owl.carousel.min.js?v=313' type='text/javascript'></script>-->
    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <script src='/Assets/client/hstatic.net/198/1000055198/1000144003/jquery.themepunch.tools.mina6f6.js?v=313' type='text/javascript'></script>
    <script src='/Assets/client/hstatic.net/198/1000055198/1000144003/jquery.themepunch.revolution.mina6f6.js?v=313' type='text/javascript'></script>
    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    <link href='/Assets/client/hstatic.net/198/1000055198/1000144003/settingsa6f6.css?v=313' rel='stylesheet' type='text/css' media='all' />
    <!-- script.js -->
    <script src='/Assets/client/hstatic.net/198/1000055198/1000144003/scripta6f6.js?v=313' type='text/javascript'></script>
    <script src='/Assets/client/hstatic.net/198/1000055198/1000144003/jquery.lazyloadxta6f6.js?v=313' type='text/javascript'></script>
    <!-- BEGIN products scripts -->
    <script src='/Assets/client/hstatic.net/198/1000055198/1000144003/fly-to-cart-aothuna6f6.js?v=313' type='text/javascript'></script>
    <!-- END products scripts -->
    <!-- BEGIN fancy box -->
    <link href='/Assets/client/hstatic.net/0/0/global/design/plugins/fancybox/jquery.fancybox.css' rel='stylesheet' type='text/css' media='all' />
    <script src='/Assets/client/hstatic.net/0/0/global/design/plugins/fancybox/jquery.fancybox.js' type='text/javascript'></script>
    <!-- END fancy box -->
    <!-- responsive menu -->
    <link href='/Assets/client/hstatic.net/198/1000055198/1000144003/simple-sidebara6f6.css?v=313' rel='stylesheet' type='text/css' media='all' />
    <!-- end responsive menu -->
    <!-- pwg slider -->
    <link href='/Assets/client/hstatic.net/198/1000055198/1000144003/pgwslideshow.mina6f6.css?v=313' rel='stylesheet' type='text/css' media='all' />
    <script src='/Assets/client/hstatic.net/198/1000055198/1000144003/pgwslideshow.mina6f6.js?v=313' type='text/javascript'></script>
    <style>
        .revo-slider-emphasis-text {
            font-size: 58px;
            font-weight: 700;
            letter-spacing: 1px;
            font-family: 'Raleway', sans-serif;
            padding: 15px 20px;
            border-top: 2px solid #FFF;
            border-bottom: 2px solid #FFF;
        }

        .revo-slider-desc-text {
            font-size: 20px;
            font-family: 'Lato', sans-serif;
            width: 650px;
            text-align: center;
            line-height: 1.5;
        }

        .revo-slider-caps-text {
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 3px;
            font-family: 'Raleway', sans-serif;
        }
    </style>
    <script type='text/javascript'>
        //<![CDATA[
        if ((typeof Haravan) === 'undefined') {
            Haravan = {};
        }
        Haravan.culture = 'vi-VN';
        Haravan.shop = 'the-shoes.myharavan.com';
        Haravan.theme = { "name": "the-shoes_hrv_v1.2_20160729", "id": 1000144003, "role": "main" };
        Haravan.domain = 'the-shoes.myharavan.com';
        //]]>
    </script>

</head>
<body class="stretched no-transition">
    <!-- Document Wrapper
    ============================================= -->
    <!-- mobile menu -->
    <div id="menu-wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <!-- Top Search
                ============================================= -->
                <div id="top-search-sm">
                    <!--<a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>-->
                    <form action="https://the-shoes.myharavan.com/search">
                        <input type="hidden" name="type" value="product" />
                        <input type="text" name="q" class="form-control" placeholder="Tìm kiếm..">
                    </form>
                </div><!-- #top-search end -->
                <li class=''><a href="collections/all.html">Tất cả sản phẩm</a></li>
                <li class=''><a href="collections/hang-moi-ve.html">Hàng mới về</a></li>
                <li class=''><a href="collections/onsale.html">Sản phẩm khuyến mãi</a></li>
                <li class=''><a href="collections/san-pham-noi-bat.html">Sản phẩm nổi bật</a></li>
                <li class=''><a href="collections/san-pham-ban-chay.html">Bán chạy</a></li>
                <li class=''><a href="collections/giay-cao-got.html">Giầy cao gót</a></li>
                <li class=''><a href="collections/giay-boot.html">Giầy Boot</a></li>
                <li class=''><a href="collections/giay-sandals.html">Giầy Sandals</a></li>
                <li class=''><a href="collections/giay-de-xuong.html">Giầy đế xuồng</a></li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class='icon-reorder'></i></a>
        <!-- Page Content -->
        <!-- /#page-content-wrapper -->
    </div>
    <!-- end mobile menu -->
    <div id="wrapper" class="clearfix">
        <!-- style="animation-duration: 1.5s; opacity: 1;"-->
        @RenderSection("left_menu", required: true)
        <!-- Top Bar
        ============================================= -->
        @{ Html.RenderAction("TopBar", "Home");}
        <!-- #top-bar end -->
        <!-- Header
        ============================================= -->
        <header id="header">
            <div id="header-wrap">
                <div class="container clearfix">
                    <!--<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>-->
                    <!-- Logo
                    ============================================= -->
                    <div id="logo" class='col-md-3'>
                        <a href="/" class="standard-logo" data-dark-logo="//hstatic.net/198/1000055198/1000144003/logo.png?v=313"><img src="/Assets/client/hstatic.net/198/1000055198/1000144003/logoa6f6.png?v=313" alt="The Shoes"></a>
                        <a href="/" class="retina-logo" data-dark-logo="//hstatic.net/198/1000055198/1000144003/logo.png?v=313"><img src="/Assets/client/hstatic.net/198/1000055198/1000144003/logoa6f6.png?v=313" alt="The Shoes"></a>
                    </div><!-- #logo end -->
                    <!-- Top Search
                    ============================================= -->
                    <!-- Top Search
                    ============================================= -->
                    <div class='top_search col-md-9'>
                        <form class='col-md-9 form-inline hidden-xs hidden-sm' method="get" action="/tim-kiem.html">
                            <!--	<input type="hidden" name="type" value="product" />-->
                            <div class='form-group col-md-12'>
                                <input type="text" id="txtKeyword" name="keyword" class="form-control col-md-8 search_input" placeholder="Tìm kiếm..">
                                <select class='collection col-md-3 search_collection'>
                                    <option value='0'>Tất cả sản phẩm</option>
                                    <option value='1000264254'>Sản phẩm khuyến mãi</option>
                                    <option value='1000264252'>Giầy Boot</option>
                                    <option value='1000264248'>Giầy đế xuồng</option>
                                    <option value='1000264245'>Giầy cao gót</option>
                                    <option value='1000264243'>Giầy Sandals</option>
                                    <option value='1000259839'>Sản phẩm nổi bật</option>
                                    <option value='1000259833'>Sản phẩm bán chạy</option>
                                    <option value='1000259718'>Hàng mới về</option>
                                </select>
                                <a class='button col-md-1' href='#'><i class='icon-search3'></i></a>
                            </div>
                        </form>
                        <div id="top-cart" class='top-cart-block col-md-3'>
                            @{ Html.RenderAction("HeaderCart", "Home");}
                        </div>
                    </div>
                    <!-- #top-search end -->
                    <!-- top link trigger --->
                    <a href='#' id='top_link_trigger' class='hidden-lg hidden-md'><i class='icon-ellipsis-vertical'></i></a>
                    <!-- end top link trigger --->
                    <script>
                        $("#sidebar-wrapper ul li a span").click(function (event) {
                            event.preventDefault();
                            var li = $(this).parents('li');
                            li.children('ul').toggle('slow');
                        });
                    </script>
                    <!-- #primary-menu end -->
                </div>
            </div>
        </header>
        <!-- #header end -->
        <!-- Content
        ============================================= -->
        @RenderSection("title", required: true)
        <section id="content">
            @RenderBody()
        </section>
        <!-- #content end -->
        <!-- Footer
        ============================================= -->
        @{ Html.RenderAction("Footer", "Home");}
        <!-- #footer end -->
    </div><!-- #wrapper end -->
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>
    <!-- Footer Scripts
    ============================================= -->
    <script src='/Assets/client/hstatic.net/198/1000055198/1000144003/functionsa6f6.js?v=313' type='text/javascript'></script>
   
    <div id="product-quick-add" style="display: none; width: 700px;">
        <div class="product-page ">
            <div class="row">
                <form id="ProductDetailsForm_QuickAdd">
                    <div class="hidden" style="">
                        <select id="product-select-qa" name="id"></select>
                        <input type="hidden" class="unit_price_not_formated"><!-- </input> -->
                        <input type="hidden" class="product_url" value=""> <!--</input>-->
                        <input type="hidden" class="product_title_hd" value=""> <!--</input>-->
                        <input type="hidden" class="product_img_small" value=""> <!--</input>-->
                    </div>
                    <input id="product-quantity" name="quantity" type="text" value="1" readonly class="form-control input-sm quantity">
                    <button id="addtocartQA" class="btn btn-primary" type="submit">Thêm vào giỏ</button>
                </form>
            </div>  <!-- END: row -->
        </div>
    </div>
    <script>
        var currentIMG = '';
        jQuery(".product_quick_add").each(function () {
            $(this).on('click', function (event) {
                event.preventDefault();

                // quick add
                currentIMG = $(this).parents('.product').find('.product-image img');
                quickAddProduct($(this).attr('href')); // make-up "#product-quick-add"

            });
        });

        var callBackQuickAdd = function (variant, selector) {
            // console.log('callBackQV  is functioning...');

            var $tagPrice = '#product-quick-add .price strong';
            var $tagPriceCompare = '#product-quick-add .price em span';
            var $tagProductSection = '#ProductDetailsForm_QuickAdd';
            update_variant(variant, $tagPrice, $tagPriceCompare, '#addtocartQA', $tagProductSection);
        }
        var quickAddProduct = function (purl) {

            // if ($(window).width() < 680) { window.location = purl; return false; }
            // modal = $('#quick-view-modal'); modal.modal('show');
            $.ajax({
                url: purl + '.js',
                async: false,
                success: function (product) {

                    //make-up "#product-quick-add"
                    // assign hidden values
                    $('#product-quick-add .product_title_hd').val(product.title);
                    $('#product-quick-add .product_url').val(product.url);
                    $('#product-quick-add .product_img_small').val(product.featured_image);  // AAA!!!

                    //render selections (NOT formatted yet)
                    $('select#product-select-qa').html('');
                    $('.selector-wrapper').remove(); // remove all selectors by  Haravan.OptionSelectors
                    // var $arrSize = [];
                    // var $arrColor = [];
                    $.each(product.variants, function (i, v) {
                        $('select#product-select-qa').append("<option value='" + v.id + "'>" + v.title + ' - ' + v.price + "</option>");
                        // if($arrSize.indexOf(v.option1) <= -1 )
                        // {
                        // $('#product-quick-add select.size').append("<option >" + v.option1 + "</option>");
                        // $arrSize.push(v.option1);
                        // }

                        // if($arrColor.indexOf(v.option2) <= -1 )
                        // {
                        // $('#product-quick-add select.color').append("<option >" + v.option2 + "</option>");
                        // $arrColor.push(v.option2);
                        // }
                    });

                    new Haravan.OptionSelectors("product-select-qa", { product: product, onVariantSelected: callBackQuickAdd });

                    // select default variants
                    var $size = $("#product-select-qa-option-0 option:first").attr('selected', 'selected');
                    var $color = $("#product-select-qa-option-1 option:first").attr('selected', 'selected');
                    var $material = $("#product-select-qa-option-2 option:first").attr('selected', 'selected');
                    var $tagSelectOption0 = '#product-select-qa-option-0';
                    var $tagSelectOption1 = '#product-select-qa-option-1';
                    var $tagSelectOption2 = '#product-select-qa-option-2';
                    refreshProductSelections($tagSelectOption0, $size, $tagSelectOption1, $color, $tagSelectOption2, $material);

                    //auto add current variant...
                    // $('#ProductDetailsForm_QuickAdd').submit();
                    $("#addtocartQA").click();

                }//end: success
            });

            //$('.modal-backdrop').css('opacity', '0');
            return false;
        }


        jQuery(document).ready(function ($) {
            //add to cart for QuickView
            $("#addtocartQA").on('click', function (e) {  //.click(function(e){ //

                e.preventDefault();
                addItem('ProductDetailsForm_QuickAdd', currentIMG);

            });
        });
        /*** end quick add cart ***/

    </script>
    <!-- end quick add cart -->
    <!-- Hotline and Quick Contact -->
    <!--scroll hotline-->
    <a class='mb_scroll_hotline hidden-lg hidden-md' href='tel:19000000'>
        <img style="height: 24px; width: auto; margin-right:10px" src="/Assets/client/hstatic.net/198/1000055198/1000144003/call_muahanga6f6.png?v=313">Hotline: 19000000
    </a>
    <!--end scroll hotline-->
    <!-- End Hotline and Quick Contact -->
    <script src='/Assets/client/hstatic.net/198/1000055198/1000144003/layouta6f6.js?v=313' type='text/javascript'></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            ega.init();
            Layout.init();
            Layout.initOWL();
            Layout.initFixHeaderWithPreHeader();
            Layout.initNavScrolling();
        });
    </script>
    <script src='/Assets/client/hstatic.net/198/1000055198/1000144003/footer_scriptsa6f6.js?v=313' type='text/javascript'></script>
    <script src="~/Assets/admin/libs/mustache/mustache.js"></script>
    <script src="~/Assets/admin/libs/numeral/numeral.js"></script>
    <script src="~/Assets/client/js/plugins/jquery.twbsPagination.min.js"></script>
    <script src="~/Assets/admin/libs/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/Assets/admin/libs/jquery-validation/dist/additional-methods.js"></script>   

    @RenderSection("footerJS", required: false)
</body>
</html>