  <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Cật nhật phản hồi
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>      
        <li><a ui-sref="feedbacks">Phản hồi</a></li>
        <li class="active">Cập nhật</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Cật nhật phản hồi {{feedback.Name}}</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmUpdateFeedback" role="form" ng-submit="UpdateFeedback()">
            <div class="box-body">
                <div class="form-group" ng-class="{ 'has-error' : frmUpdateFeedback.name.$invalid && !frmUpdateFeedback.name.$pristine }">
                    <label for="inputEmail3" class="col-sm-2 control-label">Họ tên</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-maxlength="256" required name="name" ng-model="feedback.Name">
                        <span ng-show="frmUpdateFeedback.name.$invalid" class="has-error">Phải nhập họ tên</span>
                        <span ng-show="frmUpdateFeedback.name.$error.maxlength" class="has-error">Họ tên chỉ được 256 ký tự</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : frmUpdateFeedback.email.$invalid && !frmUpdateFeedback.email.$pristine }">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-maxlength="256" required name="email" ng-model="feedback.Email">
                        <span ng-show="frmUpdateFeedback.email.$invalid" class="has-error">Phải nhập email</span>
                        <span ng-show="frmUpdateFeedback.email.$error.maxlength" class="has-error">Tên danh mục chỉ được 256 ký tự</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : frmUpdateFeedback.message.$invalid && !frmUpdateFeedback.message.$pristine }">
                    <label for="inputEmail3" class="col-sm-2 control-label">Nội dung</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="message" ckeditor="ckeditorOptions" ng-model="feedback.Message"></textarea>
                        <span ng-show="frmUpdateFeedback.message.$invalid" class="has-error">Phải nhập nội dung</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : frmUpdateFeedback.phone.$invalid && !frmUpdateFeedback.phone.$pristine }">
                    <label for="inputEmail3" class="col-sm-2 control-label">Điện thoại</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" required name="phone" ng-model="feedback.Phone">
                        <span ng-show="frmUpdateFeedback.phone.$invalid" class="has-error">Phải nhập số điện thoại</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="status" ng-model="feedback.Status" ng-checked="feedback.Status"> Kích hoạt
                            </label>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <button ui-sref="feedbacks" class="btn btn-default">Hủy</button>
                <button type="submit" ng-disabled="frmUpdateFeedback.$invalid" class="btn btn-success pull-right">Lưu</button>
            </div><!-- /.box-footer -->
        </form>
    </div><!-- /.box -->
</section><!-- /.content -->
