
@{
    ViewBag.Title = "Lỗi thanh toán";
    Layout = "~/Views/Shared/LayoutsPM.cshtml";
}
<a href="/">
    <h1>
        <span class="btn-back">Về trang chủ</span> Đặt hàng thất bại.
    </h1>
</a>